@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<p>
    In 1989, the company, then called Energy Storage Technologies, was founded by a husband and wife
    in Southwest Ohio because, while they had been working in a third world country, they witnessed
    death and suffering due to the spoilage of life-saving biologics, vaccines, and medicines due
    to poor temperature management during transit. Once back home, they began developing and
    manufacturing high-performance instruments for the starving children of the world.
</p>

<img src="~/Content/founders.png" />
<p>Donny and Hillary, our beloved founders.</p>